* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-family: 'Fira Sans', sans-serif;
  color: var(--color-text-main);
}

html,
body {
  background-color: var(--color-background-main);
}
