html {
  --page-content-width: 1280px;
  --page-content-margin: 30px;

  --row-column-gap: 30px;

  --padding-header: 12px;

  --color-background-main: #f6f6f6;
  --color-text-main: #333333;
  --color-text-inverted: #ffffff;
  --color-brand-primary: #4682b4;

  --font-size-main: 18px;
  --font-size-h1: 40px;

  --line-height-main: 30px;
  --line-height-h1: 48px;
}
